<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name%>,</p>
    <p>
        You have a new meeting request on Fledgg. You can view all your meetings <a href=<%= url_for controller: "conversations", action: "index", only_path: false, host: "http://www.fledgg.com" %>>here</a>. 

        This meeting can be joined <a href='<%= @meeting.url %>' style="color: #3498db; cursor: pointer;" >here</a>.
    </p>
    <p>-Fledgg</p>
  </body>
</html>