<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your meeting has been accepted by both parties. You can view all your meetings <a href=<%= url_for controller: "conversations", action: "index", only_path: false, host: "http://www.fledgg.com" %>>here</a>. This meeting can be joined <a href='<%= @meeting.url %>'>here</a>.
    </p>
    <p>-Fledgg</p>
  </body>
</html>