<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name%>,</p>
    <p>
        You have a new meeting reqest on Fledgg. Click <a href=<%= url_for controller: "conversations", action: "index", only_path: false, host: "http://localhost:3000" %>>here</a> to view. This meeting can be joined <a href=<%= link_to "here", @meeting.url %>.
    </p>
    <p>-Cliq</p>
  </body>
</html>