<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your meeting has been accepted by both parties. Click <a href=<%= url_for controller: "conversations", action: "index", only_path: false, host: "http://localhost:3000" %>>here</a> to view. This meeting can be joined <a href='<%= link_to "here", @meeting.url %>'>here</a>.
    </p>
    <p>-Fledgg</p>
  </body>
</html>