<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have a meeting with <%= @other_user.name %> soon. This meeting can be joined <a href='<%= @meeting.url %>' style="color: #3498db; cursor: pointer;" >here</a>.
    </p>
    <p>-Fledgg</p>
  </body>
</html>