<%= image_tag "fledgg.jpg", id: "landing-image" %>
<div id="landing-overlay"></div>

<div class="landing-section white">
	<%= image_tag "logo.png", id: "landing-logo" %>
	<div id="logo-title">FLEDGG</div>
	<div id="logo-text">Connect with Entrepreneurs and Mentors globally.</div>
	<a href="/auth/linkedin">
		<div class="sign-up-box">
			<div class="li-sign-up-btn">	
				<div class="sign-up-text">SIGN UP WITH LINKED IN</div>
			</div>
		</div>
	</a>

</div>