
<%= render partial: 'users/top_bar' %>

<div id="content-left" class="pages-section">

	<div class="title">Your Privacy Matters</div>

	<div class="gen-text">
		At Fledgg, our fundamental philosophy is “users first.” That value powers all of the decisions 
we make, including how we gather and respect your personal information.  
	</div>

	<div class="sub-title">Introduction </div>

	<div class="gen-text">Our mission is to connect the world’s entrepreneurs to enable them to be more 
successful. <br>
We protect your personal information using industry-standard safeguards. We may 
share your information with your consent or as required by law as detailed in this 
policy, and we will always let you know when we make significant changes to this 
Privacy Policy. </div>


	<div class="small-text">Maintaining your trust is our top priority, so we adhere to the following principles to protect your 
privacy: 
<br><br> We protect your personal information and will only provide it to third parties: 
(1) with your consent; (2) where it is necessary to carry out your instructions; 
(3) as reasonably necessary in order to provide our features and functionality 
to you; (4) when we reasonably believe it is required by law, subpoena or 
other legal process; or (5) as necessary to enforce our User Agreement or 
protect the rights, property, or safety of Fledgg, its Members and Visitors, and 
the public. 
<br><br> We have implemented appropriate security safeguards designed to protect 
your information in accordance with industry standards. 
This Privacy Policy applies to Fledgg.com and the Fledgg mobile application, .net and mobile app 
(“”), Pulse.me and Pulse mobile app (“Pulse”), Fledgg platform technology (such as “Share on Fledgg” 
plugins for publishers) and all other Fledgg websites, apps, developer platforms and other products and 
services (collectively “Fledgg” or the “Services”). We may modify this Privacy Policy from time to 
time, and if we make material changes to it, we will provide notice through our Service, or by other 
means so that you may review the changes before you continue to use Fledgg. If you object to any 
changes, you may close your account. Continuing to use Fledgg after we publish or communicate a 
notice about any changes to this Privacy Policy means that you are consenting to the changes.  </div>


	<div class="sub-title">California Online Privacy Protection Act Notice</div>

	<div class="small-text"><strong>(1) Fledgg does not track users, who do not interact with its sharing functionality 
across the web, and therefore does not use "do not track" signals.  </strong>
 </div>

 <div class="small-text"><strong>(2) Fledgg does not authorize the collection of PII from Fledgg members on Fledgg 
for third party use through advertising technologies without separate member 
consent  </strong>
 </div>

  <div class="small-text">To learn more about DNT and Fledgg's DNT practices, please read on: <br><br>
On September 27, 2013, California Governor Jerry Brown signed into law A.B. 370, amending the 
California Online Privacy Protection Act (CalOPPA)to require website operators like Fledgg to 
disclose: (1)how Fledgg responds to "Do Not Track Signals"(DNT); and (2)whether third parties 
collect personally identifiable information (PII) about users when they visit Fledgg. 
 </div>



 
What is a DNT signal? Currently, various browsers - including Internet Explorer, Firefox, and Safari - 
offer a DNT option that relies on a technology known as a DNT header that sends a signal to websites' 
visited by the browser user about the user's DNT preference. You can usually access your browser's 
DNT option in your browser's preferences. 
Is there a DNT technology standard? The World Wide Web Consortium (W3C) has been working 
with industry groups, Internet browsers, technology companies, and regulators to develop a DNT 
technology standard. While some progress has been made on this issue, progress has been slow, and to 
date no standard has been adopted. Without an industry standard for DNT, users cannot know how any 
given company abides by a DNT signal they receive from browser headers. Fledgg is committed to 
remaining apprised of the W3C efforts to develop a DNT standard. 
	
	<div class="mini-title">Do Not Track</div>
	
	<div class="small-text"><strong>What is DNT? </strong><br>DNT is the concept that has been promoted by regulatory authorities, in particular the 
U.S. Federal Trade Commission (FTC), for the Internet industry to develop and implement a 
mechanism for allowing Internet users to control the tracking of their online activities across websites. </div>

	<div class="small-text"><strong>What is DNT? </strong><br>DNT is the concept that has been promoted by regulatory authorities, in particular the 
U.S. Federal Trade Commission (FTC), for the Internet industry to develop and implement a 
mechanism for allowing Internet users to control the tracking of their online activities across websites. </div>

	<div class="small-text"><strong>What is DNT? </strong><br>DNT is the concept that has been promoted by regulatory authorities, in particular the 
U.S. Federal Trade Commission (FTC), for the Internet industry to develop and implement a 
mechanism for allowing Internet users to control the tracking of their online activities across websites. </div>

