<%= render partial: 'users/top_bar' %>

<div id="content-left" class="pages-section">

	<div class="title">Terms and Privacy</div>

	<div class="gen-text">
		Welcome, and thanks for using Fledgg.com, and/or other Fledgg services and apps! When you use our 
		products and services, you're agreeing to our terms, so please take a few minutes to read over the User 
		Agreement below. 
		Note: You are entering into a legally binding agreement. 
	</div>

	<div class="sub-title">1. Introduction</div>

	<div class="gen-text">We are a social network and online platform for entrepreneurs.</div>
	<div class="mini-title">1.1. Purpose</div>
	<div class="small-text">The mission of Fledgg is to connect the world’s entrepreneurs to enable them to be more productive 
and successful. To achieve our mission, we make services available through our websites, mobile 
applications, to help you match, connect, share with other entrepreneurs around the world. </div>

	<div class="mini-title">1.2. Scope and Intent</div>
	<div class="small-text">When you use Fledgg's services and apps, you are entering into a legal agreement and you agree to all 
of these terms. You also agree to our Privacy Policy, which covers how we collect, use, share, and 
store your personal information. </div>

	<div class="small-text">You agree that by registering on Fledgg, by using our websites, including our mobile applications, 
	developer platforms, premium services, or any content or information provided as part of the Fledgg 
	services, you are entering into a legally binding agreement with Fledgg Corporation, 44 3rd Avenue, 
	San Mateo, USA. If you are using Fledgg on behalf of a company or other legal entity, you are 
	nevertheless individually bound by this Agreement even if your company has a separate agreement 
	with us. If you do not agree with this Agreement, do NOT click “Sign up” and do not access, view, 
	download or otherwise use any Fledgg webpage, content, information or services. By clicking “Join 
	Now”, “Join Fledgg”, “Sign Up” or similar, or by using any Service, you acknowledge that you have 
	read and understood the terms and conditions of this Agreement and that you agree to be bound by all 
	of its provisions. Please note that the Fledgg User Agreement and Privacy Policy are also collectively 
	referred to as Fledgg’s “Terms of Service.”
	</div>

	<div class="sub-title">2. Your Obligations</div>


	<div class="mini-title">2.1. Applicable laws and this Agreement </div>
	<div class="small-text">Some promises you make to us in this Agreement:<br>
		<strong>You will follow the law and Fledgg’s rules. </strong><br>
		You must comply with all applicable laws and this Agreement, as may be amended from time to time 
		with or without advance notice, and the policies and processes explained in the following sections and
		related webpages: 
 </div>

	<div class="mini-title">2.2. License and warranty for your submissions to Fledgg</div>
	<div class="small-text">You still own what you own, but you grant us a license to the content and/or 
		information you provide us. 
		As between you and Fledgg, you own the content and information you provide Fledgg under this 
		Agreement, and may request its deletion at any time, unless you have shared information or content 
		with others and they have not deleted it, or it was copied or stored by other users. Additionally, you
		grant Fledgg a nonexclusive, irrevocable, worldwide, perpetual, unlimited, assignable, sublicenseable,
		fully paid up and royalty-free right to us to copy, prepare derivative works of, improve, distribute, 
		publish, remove, retain, add, process, analyze, use and commercialize, in any way now known or in the 
		future discovered, any information you provide, directly or indirectly to Fledgg, including, but not limited to, any user generated content, ideas, concepts, techniques and/or data to the services, you 
		submit to Fledgg, without any further consent, notice and/or compensation to you or to any third 
		parties. <br><strong>We will respect the choices you make about who gets to see your information and 
		content.</strong>
		<br> 
		Pursuant to this license, Fledgg may grant other Members and/or Visitors access and share rights to 
		your content and information in accordance with this Agreement, your settings and degree of 
		connection with them. 
		<br><strong>You promise to only provide us information and content that you have the right to 
		give us and you promise that your Fledgg profile will be truthful.</strong>
		<br> 
		Any content or information you submit to us is at your own risk of loss. By providing content or 
		information to us, you represent and warrant that you are entitled to submit it and that it is not 
		confidential and not in violation of any law, contractual restrictions or other third party rights 
		(including any intellectual property rights). <br>
		It is your responsibility to keep your Fledgg profile information accurate and updated. 
	</div>

	<div class="mini-title">2.3. Service Eligibility </div>
	<div class="small-text"><strong>You are eligible to enter into this contract and you are at least our “Minimum Age.” 
The information you provide is truthful. </strong><br>To be eligible to use the Services, you must meet the following criteria and represent and warrant that 
you: (1) are the “Minimum Age” (defined below) or older; (2) are not currently restricted from the 
Services, or not otherwise prohibited from having a Fledgg account, (3) are not a competitor of Fledgg
or are not using the Services for reasons that are in competition with Fledgg; (4) will only maintain one 
Fledgg account at any given time; (5) will use your real name and only provide accurate information to
Fledgg; (6) have full power and authority to enter into this Agreement and doing so will not violate any 
other agreement to which you are a party; (7) will not violate any rights of Fledgg or third party, 
including intellectual property rights such as copyright or trademark rights; and (8) agree to provide at 
your cost all equipment, software, mobile access, and internet access necessary to use the Services. 
“Minimum Age” means (a) 18 years old for the People’s Republic of China, (b) 16 years old for the 
Netherlands, (c) 14 years old for the United States, Canada, Germany, Spain, Australia and South 
Korea, and (d) 13 years old for all other countries. However, if applicable law requires that you must
be older than such ages in order for Fledgg to lawfully provide the Services to you (including the 
collection, storage and use of your information in accordance with our privacy policy) then the 
Minimum Age would be such older age. The Services are not designed nor intended for use by children 
or anyone else under the age of 13. </div>

	<div class="mini-title">2.4. Your Membership </div>
	<div class="small-text"><strong>You will keep your password a secret.<br> 
You will not share an account with anyone else. <br>
You will not copy or transfer any part of the Services. </strong><br>The profile you create on Fledgg will become part of Fledgg and except for the content and 
information that you license to us is owned by Fledgg. However, between you and others, your account 
belongs to you. You agree to: (1) keep your password secure and confidential; (2) not permit others to
use your account; (3) not use other’s accounts; (4) not sell, trade, or transfer your Fledgg account to 
another party; and (5) not charge anyone for access to any portion of Fledgg, or any information 
therein. Further, you are responsible for anything that happens through your account until you close 
down your account or prove that your account security was compromised due to no fault of your own. 
To close your Fledgg account, respectively, please visit the applicable Fledgg settings. </div>

	<div class="mini-title">2.5. Indemnification </div>
	<div class="small-text"><strong>You will pay us for any losses that you cause.</strong><br>You agree to indemnify us and hold us harmless for all damages, losses and costs (including, but not 
limited to, reasonable attorneys’ fees and costs) related to all third party claims, charges, and 
investigations, caused by (1) your failure to comply with this Agreement, including, without limitation, 
your submission of content that violates third party rights or applicable laws, (2) any content you 
submit to the Services, and (3) any activity in which you engage on or through Fledgg. </div>

	<div class="mini-title">2.6. Payment</div>
	<div class="small-text"><strong>You will honor your payment obligations and you are okay with us storing your 
payment information. 
</strong><br>If you purchase any services that we offer for a fee, either on a one-time or subscription basis 
(“Premium Services”), you agree to Fledgg storing your payment information. You also agree to pay 
the applicable fees for the Premium Services (including, without limitation, periodic fees for premium
accounts) as they become due plus all related taxes, and to reimburse us for all collection costs and 
interest for any overdue amounts. </div>

	<div class="mini-title">2.7. Notify us of acts contrary to the Agreement</div>
	<div class="small-text"><strong>If you think you have to breach this Agreement, you will let us know beforehand. </strong><br>If you believe that you are entitled or obligated to act contrary to this Agreement under any mandatory 
law, you agree to provide us with detailed and substantiated explanation of your reasons in writing at
least 30 days before you act contrary to this Agreement, to allow us to assess whether we may, at our 
sole discretion, provide an alternative remedy for the situation, though we are under no obligation to do 
so. </div>

	<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong>You are okay with us providing you with important notices on our websites, mobile 
apps, or email. The contact information you provide must be accurate or you may not 
receive important notices. </strong><br>For purposes of service messages and notices about the Services, Fledgg may place a banner notice 
across its pages to alert you to certain changes such as modifications to this Agreement. Alternatively, 
notice may consist of an email from Fledgg to an email address associated with your account, even if 
we have other contact information. You also agree that Fledgg may communicate with you through 
your Fledgg account or through other means including email, mobile number, telephone, or delivery 
services including the postal service about your Fledgg account or services associated with Fledgg. 
Please review your Fledgg.com settings to control and limit what kind of messages you receive from 
us. You acknowledge and agree that we shall have no liability associated with or arising from your 
failure to do so maintain accurate contact or other information, including, but not limited to, your 
failure to receive critical information about the Services. </div>

	<div class="mini-title">2.9. Fledgg Applications </div>
	<div class="small-text"><strong>This Agreement applies to mobile applications as well. Also, you agree certain 
additional information can be shared with us. </strong><br>Fledgg may offer the Services through applications built using Fledgg’s platform (“Fledgg 
Applications”). Examples of Fledgg Applications include its smart phone applications (e.g. Fledgg and 
Pulse for Android and iOS), and Fledgg’s “Share” buttons and other interactive plugins distributed on 
websites across the web. If you use a Fledgg Application or interact with a website that has deployed a 
plugin, you agree that information about you and your use of the Services, including, but not limited to, 
your device, your mobile carrier, your internet access provider, your physical location, or web pages 
containing Fledgg plugins that load in your browser may be communicated to us. Further, by importing 
any of your Fledgg data through the Fledgg Application, you represent that you have authority to share
the transferred data with your mobile carrier or other access provider. In the event you change or 
deactivate your mobile account, you must promptly update your Fledgg account information to ensure 
that your messages are not sent to the person that acquires your old number and failure to do so is your 
responsibility. You acknowledge you are responsible for all charges and necessary permissions related 
to accessing Fledgg through your mobile access provider. Therefore, you should check with your provider to find out if the Services are available and the terms for these services for your specific 
mobile devices. Finally, by using any downloadable application to enable your use of the Services, you
are explicitly confirming your acceptance of the terms of the End User License Agreement associated 
with the application provided at download or installation, or as may be updated from time to time. </div>

	<div class="mini-title">2.10. User-to-User Communication and Sharing (Fledgg Profile, Updates, Messages etc.) </div>
	<div class="small-text"><strong>When you share information, others can see, copy and use that information. </strong><br>Fledgg enables sharing of information by allowing users to post updates, including links to news 
articles and other information. However, Fledgg, in its sole discretion, remove content from anywhere 
on the Services if the content violates this Agreement or others’ intellectual property rights. Please note 
that ideas you post and information you share may be seen and used by other Members or, if public, by 
Visitors, and Fledgg cannot guarantee that other Members will or will not use the ideas and 
information that you share on Fledgg, nor the manner of use. Therefore, if you have an idea or 
information that you would like to keep confidential or don’t want others to use, or that is subject to 
third party rights that may be infringed by your sharing it, do not post it on Fledgg. FLEDGG IS NOT 
RESPONSIBLE FOR ANOTHER’S MISUSE OR MISAPPROPRIATION OF ANY CONTENT OR 
INFORMATION YOU POST ON FLEDGG. </div>

	<div class="mini-title">2.11. Privacy </div>
	<div class="small-text"><strong>You are okay with us collecting, using, storing, and disclosing information about you 
in keeping with our Privacy Policy. </strong><br>You should carefully read our full Privacy Policy before using Fledgg as it is hereby incorporated into 
this Agreement by reference, and governs our treatment of any information, including personally 
identifiable information you submit to us. Please note that certain information, statements, data, and
content (such as photographs) which you may submit to Fledgg, or groups you choose to join might, or 
are likely to, reveal your gender, ethnic origin, nationality, age, and/or other personal information about 
you. You acknowledge that your submission of any information, statements, data, and content to us is 
voluntary on your part and that Fledgg may process such information, within the terms of the Privacy 
Policy. </div>

	<div class="mini-title">2.12. Export Control </div>
	<div class="small-text"><strong>You won’t break export laws. </strong><br>Your use of Fledgg services, including our software, is subject to export and re-export control laws and 
regulations, including the Export Administration Regulations (“EAR”) maintained by the United States 
Department of Commerce and sanctions programs maintained by the Treasury Department's Office of 
Foreign Assets Control. You shall not — directly or indirectly — sell, export, re-export, transfer, 
divert, or otherwise dispose of any software or service to any end-user without obtaining the required
authorizations from the appropriate government authorities. You also warrant that you are not 
prohibited from receiving US origin products, including services or software. </div>

	<div class="mini-title">2.13. Contributions to Fledgg</div>
	<div class="small-text"><strong>If you provide feedback to us, make sure you don’t include confidential or infringing 
materials. You grant us rights to your feedback. </strong><br>By submitting suggestions or other feedback regarding our Services ("Contributions") in any way to 
Fledgg, you acknowledge and agree that: (a) your Contributions do not contain confidential or 
proprietary information; (b) Fledgg is not under any obligation of confidentiality, express or implied, 
with respect to the Contributions; (c) Fledgg shall be entitled to use or disclose (or choose not to use or 
disclose) such Contributions for any purpose, in any way, in any media worldwide; (d) Fledgg may 
have something similar to the Contributions already under consideration or in development; (e) you 
irrevocably non-exclusively license to Fledgg rights to exploit your Contributions; and (f) you are not 
entitled to any compensation or reimbursement of any kind from Fledgg under any circumstances. </div>

	<div class="sub-title">3. Your Rights</div>

	<div class="small-text"><strong>If you follow this agreement, we grant you a limited right to use Fledgg.<br>You will only access and use Fledgg in the way this agreement allows you. </strong><br></div>

	<div class="small-text"><strong></strong><br>On the condition that you comply with all your obligations under this Agreement, including, but not 
limited to, the Do’s and Don’ts listed in Section 10, we grant you a limited, revocable, nonexclusive,
nonassignable, nonsublicenseable license and right to access the Services, through a generally available 
web browser, mobile device or Fledgg authorized application (but not through scraping, spidering, 
crawling or other technology or software used to access data without the express written consent of 
Fledgg or its Members), to view content and information and otherwise use the Services, to the extent 
intended and permitted by the functionality thereof, the Members’ settings and your degree of 
connection with them, in accordance with this Agreement. Any other use of Fledgg contrary to our 
mission and purpose (such as seeking to connect to someone you do not know or trust, or to use 
information gathered from Fledgg commercially unless expressly authorized by Fledgg) is strictly 
prohibited and a violation of this Agreement. We reserve all rights not expressly granted in this 
Agreement, including, without limitation, title, ownership, intellectual property rights, and all other 
rights and interest in Fledgg and all related items, including any and all copies made of the Fledgg 
websites. </div>

<div class="sub-title">4. Our Rights & Obligations </div>

	
	<div class="mini-title">4.1. Services Availability </div>
	<div class="small-text"><strong>We may change or discontinue Services, and in such case, we do not promise to keep 
showing or storing your information and content. </strong><br>For as long as Fledgg continues to offer the Services, Fledgg shall provide and seek to update, improve 
and expand the Services. As a result, we allow you to access Fledgg as it may exist and be available on 
any given day and we have no other obligations, except as expressly stated in this Agreement. We may 
modify, replace, refuse access to, suspend or discontinue Fledgg, partially or entirely, or change and
modify prices prospectively for all or part of the Services for you or for all our Members in our sole
discretion. All of these changes shall be effective upon their posting on Fledgg or by direct 
communication to you unless otherwise noted. </div>


	<div class="small-text"><strong>We may not keep showing the content or information you provide to us. </strong><br>Fledgg further reserves the right to withhold, remove or discard any content available as part of your
account, with or without notice if deemed by Fledgg to be contrary to this Agreement. For avoidance of
doubt, Fledgg has no obligation to store, maintain or provide you a copy of any content that you or 
other Members provide when using the Services. Fledgg may be required by local laws to remove 
certain information or content and so that information or content may not be available on our Service in 
those countries. </div>

		<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong></strong><br></div>

		<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong></strong><br></div>

		<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong></strong><br></div>

		<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong></strong><br></div>

		<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong></strong><br></div>

		<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong></strong><br></div>

		<div class="mini-title">2.8. Notifications and Service Messages </div>
	<div class="small-text"><strong></strong><br></div>






	











</div>