$super-light-gray: #f1f1f1;
$light-gray: #e0e0e0;
$gray: #939393;
$dark-gray: #414141;
$darkest-gray: #242424;
$dark-orange: #8c480c;

$light-green: #2ecc71;
$green: #26ab5f;
$dark-green: #1e884b;
$darkest-green: #166638;

$red: #e74c3c;

$dark-blue: #34495e;
$darkest-blue: #29394a;

$h1: 45pt;
$h2: 34pt;
$h2-small: 24pt;
$h3: 20pt;
$h4: 16pt;
$h5: 14pt;
$h5-small: 12pt;

$proxima: "proxima-nova",sans-serif;
