@import 'variables';

html {
	width: 100%;
	height: 100%;
}
input {
    -webkit-appearance: none;
}
.hidden {
	display: none;
}
div, input {
	-webkit-transition: background .5s;
}

.bold {
	font-weight: 700;
}
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: $proxima;
}

::-webkit-scrollbar { 
    display: none; 
}

textarea:focus, input:focus {
	outline: 0;
}

.linkify a {
	color: $light-blue;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: white;
}

.white {
	color: white;
}
