@import 'variables';

#green-bar {
	height: 60px;
	background: $light-green;
	color: white;
	width: 100%;
	position: fixed;
	top: 60px;
	z-index: 1;
}

#results-text {
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

#content-left.results {
	top: 140px;
}

.result {
	width: 100%;
	height: 60px;
	position: relative;
	cursor: pointer;
}

.result-actions {
	height: 80px;
	border-radius: 5px;
	border: 1px solid $dark-gray;
	position: absolute;
	bottom: -55px;
	right: -115px;
	width: 125px;
	display: none;
	z-index: 5;
	background: white;
	.result-action {
		width: 100%;
		height: 40px;
		float: left;
		color: $dark-gray;
		text-align: center;
		line-height: 40px;
		font-weight: 500;
	}
	.result-action.follow-action {
		border-bottom: 1px solid $dark-gray;
	}
}

.result-actions-container:hover {
	.result-actions {
		display: block;
	}
}

.result-meeting-request {
	height: 40px;
	float: right;
	background: $light-green;
	line-height: 40px;
	color: white;
	display: none;
	border-radius: 5px;
	padding: 0px 10px;
	margin-top: 10px;
}

.result-svg {
	height: 10px;
	margin-top: 25px;
	float: right;
	margin-left: 10px;
	display: none;
}

.result:hover {
	.result-star-container {
		display: none;
	}
	.result-meeting-request {
		display: block;
	}	
	.result-svg {
		display: block;
	}

}

.result-pic {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	float: left;
	margin-top: 10px;
}

.result-info {
	height: 100%;
	width: 350px;
	float: left;
	margin-left: 20px;
}

.result-name {
	font-weight: 600;
	color: $dark-gray;
	float: left;
	margin-top: 12px;
}

.result-tagline {
	font-weight: 300;
	color: $gray;
	float: left;
	clear: left;
	font-size: 14px;
}

.result-star-container {
	margin-top: 20px;
	float: right;
}

.result-star {
	height: 20px;
	width: 20px;
	float: left;
	margin-left: 10px;
}

#content-right.result-details {
	top: 120px;
	position: fixed;
	height: 100%;
	overflow-y: scroll;
	#profile-content {
		margin-top: 0px;
		#profile-cover {
			height: 120px;
		}
		.skill {
			cursor: default;
		}
		.skill:hover {
			color: $gray;	
		}
		.profile-main-pic {
			height: 120px;
			width: 120px;
			left: 0;
		}
		.profile-text-box {
			left: 140px;
			top: 10px;
			width: 180px;
			height: 110px;
			#name {
				font-size: 16px;
				font-weight: 600;
			}
			#tagline {
				font-size: 16px;
				font-weight: 300;
				margin-top: 10px;
			}
			#location {
				font-size: 16px;
				font-weight: 300;
				margin-top: 10px;
			}
		}
	}
}

@media(max-width: 1023px) {
	body {
		.result:hover {
			.result-star-container {
				display: block;
			}
			.result-meeting-request {
				display: none;
			}	
			.result-svg {
				display: none;
			}
		}
		.result-actions-container:hover {
			.result-actions {
				display: none;
			}
		}
		#results-text {
				text-align: center;
				width: 100%;
				font-size: 24px;
			}
		#content.results-section {
			#content-right {
				display: none;
			}
			#content-left {
				position: absolute;
				left: 0;
				width: 100%;
				.result {
					height: auto;
					padding-bottom: 10px;
					float: left;
					border-bottom: 1px solid $super-light-gray;
					.result-info {
						width: calc(100% - 70px);
						margin-bottom: 10px;
						margin-left: 10px;
					}
					.result-pic {
						clear: left;
						margin-left: 10px;
					}
					.result-star-container {
						float: left;
						margin-left: 50px;
						margin-top: 0px;
					}
				}
			}
		}
	}
}
