@import 'variables';

#status-header {
	font-size: $h2;
	margin-left: 60px;
	color: white;
	height: 60px;
	line-height: 80px;
    font-weight: 600;
}

#status-bar {
	position: fixed;
	z-index: 1;
	top: 120px;
	background: $light-green;
	color: white;
	width: 100%;
	height: 60px;
}

.status-bar-pic {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}

#new_status {
	input {
		height: 40px;
		float: left;
		border: none;
		border-radius: 5px;
		margin-top: 10px;
		font-size: 16px;
        box-sizing: border-box;
        font-family: $proxima;
	}
	#status_body {
		width: 440px;
		padding-left: 15px;
	}
	#submit-status {
		width: 80px;
		margin-left: 10px;
		color: white;
		background: $light-blue;
		cursor: pointer;
	}
	#submit-status:hover {
		background: $light-blue-hover;
	}
}

.status-section {
	#content-left {
		top: 180px;
		overflow-x: hidden;
	}
	#content-right {
		top: 180px;
	}
}

///////////////////

#statuses {
	margin-top: 10px;
}

.status {
	width: 100%;
	float: left;
	padding-bottom: 20px;
	border-bottom: 1px solid $light-gray;
	.result-info {
		float: left;
		width: calc(100% - 60px);
		margin-left: 0px;
	}
}

.status-body {
	float: left;
	margin-top: 10px;
}

.comment {
	width: calc(100% - 60px);
	float: left;
	margin-left: 60px;
}

.status-actions {
	float: left;
	margin-left: 60px;
	margin-top: 10px;
	clear: left;

	font-size: 14px;
	color: $light-gray;
	div {
		float: left;
		margin-right: 20px;
	}
	img {
		float: left;
		width: 14px;
		height: 14px;
		margin-right: 10px;
        margin-top: 1px;
	}
	.action-stat {
		color: $gray;
	}
}

#comment_body {
	width: calc(100% - 0px);
	height: 40px;
	margin-top: 10px;
	border: 1px solid $light-gray;
	border-radius: 5px;
	font-size: 16px;
    box-sizing: border-box;
    font-family: $proxima;
    padding-left: 15px;
}

.like-text, .status-delete-link, .comment-delete-link {
	color: $gray;
	text-decoration: underline;
	cursor: pointer;
}

.comment-submit {
	width: 40px;
	height: 40px;
	position: relative;
	background:  $light-green;
	border-radius: 100px;
	margin-top: 10px;
	float: right;
	cursor: pointer;
}

.like-svg {
	position: absolute;
	width: 100%;
	height: 30px;
	margin-top: 5px;
}

.comment-submit:hover {
	background-color: #26ab5f;
}

.status-section {
	#conversations {
		max-height: calc(100% - 160px);
		overflow-y: scroll;
		border-bottom: 1px solid $light-gray; 
		padding-bottom: 20px;
		.conversation {
			border: none;
		}
	}
	#conversations .conversation .convo-pic {
		margin-left: 0px;
	}

	#content-right {
		position: fixed;
		min-height: 0px;
		height: calc(100% - 180px);
	}
}

#feedback-container {
	background: $light-gray;
	width: 320px;
	border-radius: 5px;
	position: fixed;
	right: calc(50% - 480px);
	bottom: 40px;
	z-index: 10000;
	padding-bottom: 20px;
	height: 40px;
	input, textarea {
		opacity: 0;
	}
	#feedback-form {
		width: 280px;
		position: relative;
		margin: 0;
		padding-left: 20px;
		height: 100%;
	}
	#feedback-body {
		height: calc(100% - 200px);
	}
	#send-feedback {
		background: $light-green;
	}
	#send-feedback:hover {
		color: $light-green;
		border: 1px solid $light-green;
		background: white;
	}
}

#feedback {
	height: 40px;
	width: 320px;
	border-radius: 5px;
	background: $light-gray;
	color: $dark-gray;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	position: absolute;
	bottom: 40px;
	cursor: pointer;
}

#feedback:hover {
	background: $super-light-gray;
}

#site-info-box {
	width: 320px;
	position: absolute;
	color: $gray;
	bottom: 10px;
    font-size: 14px;
	.site-info {
		float: left;
		margin-right: 20px;
		color: $gray;
	}
	.site-info.last {
		float: right;
		margin-right: 0px;
	}
}


@media(max-width: 1023px) {
	body {
		#content-right {
			display: none;
		}
		#content-left {
			position: absolute;
			width: 100%;
			left: 0;
            font-size: 14px;
			.status {
				margin-left: 10px;
				.status-bar-pic {
					margin-right: 10px;
				}
                .result-tagline {
                    font-size: 12px;
                }
				.status-body {
					clear: left;
					margin-left: 50px;
					width: calc(100% - 70px);
                    margin-top: 0px;
                    margin-bottom: 5px;
				}
                .status-actions {
                    margin-left: 50px;   
                }
				.comment {
					width: calc(100% - 40px);
                    margin-left: 30px;
				}
				.comment-body {
					width: 240px;
				}
				.comment.comment-form-box {
					margin-left: 10px;
					.result-info {
						width: 300px
					}
					.comment-submit {
						margin-right: 10px;
					}
				}

			}
		}
		.status-bar-pic.main, .comment-pic {
			display: none;
		}
		.green-bar-content {
			width: 100%;
		}
		#new_status {
			width: 100%;
			#status_body {
				width: 285px;
				margin-left: 10px;
				float: none;
			}
			#submit-status {
				display: none;
			}
		}
		
		#content.status-section {

		}
	}
}
